@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
        @page {
            margin: 3cm 2.5cm;
        }
        body {
            font-family: 'Poppins', sans-serif;
            text-align: justify;
        }
        .header {
            position: fixed;
            top: -2.5cm;
            left: -2.0cm;
            right: -2.0cm;
            text-align: center;
        }
        .header img {
            width: 100px;
            float: left;
        }
        .header h6 {
            float: right;
        }
        .content {
            text-align: justify;
        }

        .content h1 {
            text-align: center;
        }

        .footer {
            position: fixed;
            bottom: -2.5cm;
            left: -2.0cm;
            right: -2.0cm;
            text-align: center;
            font-size: 8px;
        }
